{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        <p>
            <strong><span class="fa fa-bell-o"></span> {{ flashMessage }}</strong>
        </p>
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        <p>
            <strong><span class="fa fa-bell-o"></span> {{ flashMessage }}</strong>
        </p>
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        <p>
            <strong><span class="fa fa-check-circle"></span> {{ flashMessage }}</strong>
        </p>
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        <p>
            <strong><span class="fa fa-warning"></span> {{ flashMessage }}</strong>
        </p>
    </div>
{% endfor %}
